@model IEnumerable<BOS.Models_Data.Voting>

@{
  ViewBag.Title = "Process Voting";
}

<h2>Process Voting</h2>
<h4>Importan! Every single employee could vote only once for gift to single collegue!</h4>

<table class="table table-bordered table-responsive table-striped table-hover">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.CandidateForGift.Email)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.CandidateForGift.FullName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.CandidateForGift.BirthDate)
    </th>
    <th>
      <img style="width:35px" src="~/Content/favicon/Vote.png" />
    </th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.CandidateForGift.Email)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.CandidateForGift.FullName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.CandidateForGift.BirthDate)
      </td>
      <td>
        @Html.ActionLink("Start Voting", "StartVoting", new { id = item.VotingId }
                        , new {onClick = "return confirm('Are you sure, you want to Start Voting for this colleague -  " +
                               @item.CandidateForGift.FullName + " ?')"
                              })

      </td>
    </tr>
  }

</table>
