@model IEnumerable<BOS.Models_Data.Employee>
@{
  ViewBag.Title = "Create voting";
}

<h2>Candidate for opening voting! Employees which have birthday regarding rules.</h2>

<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Email)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.EmployeeFullName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Birthdate)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Email)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.EmployeeFullName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Birthdate)
      </td>
      <td>
        @Html.ActionLink("Activate", "Activate", new { id = item.EmployeeId })
      </td>
    </tr>
  }

</table>
